body{
    background-image: url(../images/movies.jpg)
}
.jumbotron{
    font-size: 40px;
    font-family: 'Neucha', cursive;
    background:lightseagreen;
    width: 85%;
    text-align: center;
    margin: 20px auto;
}
h1{font-family: 'Neucha', cursive;
    font-size: 50px;
}
h2{font-size: 50px;
    font-family: 'Neucha', cursive;
}
#timeDisplay{
    font-size: 60px;

}
.form-check-input{
    font-size: 70px;
    transform: scale(2);
}
